.swiper-scrollbar {
    height: 2px !important;
    background-color: var(--swatches--white-10);
    position: absolute;
    bottom: 5rem !important;
    top: auto !important;
    left: 1.875rem !important;
    right: 1.875rem !important;
    z-index: 10;
    width: calc(100% - 1.875rem - 1.875rem) !important;
  }
  
  .swiper-scrollbar-drag {
    background-color: var(--swatches--red-light);
  }
  